%h1 Listing typemodes

%table
  %tr
    %th Title
    %th
    %th
    %th

  - @typemodes.each do |typemode|
    %tr
      %td= typemode.title
      %td= link_to 'Show', typemode
      %td= link_to 'Edit', edit_typemode_path(typemode)
      %td= link_to 'Destroy', typemode, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Typemode', new_typemode_path
