%html
	%head
		= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"
		= stylesheet_link_tag :common, :media => 'screen'
		= yield :scripts
		= yield :style
	%body
		= yield
